:root {
    --mainColor: white;
    --secondryColor: #023047;
    --activeButton: #F48C06;
    --notActiveButton: #b0b0b0;
    --orangeColor: #F48C06;
    /* F5931C */
}

/*TODO remove duplicates of this file, there are many! */
/* Also, we should split this stylesheet into more than one. */

#landingBCKGRN {
    position: relative;
    top: 0;
    margin-top: 0;
    height: 100%;
}

.landingText {
    color: #023047;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3vw;
}

#welcoming {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20vw 5vw;
    width: 50%;
    font-size: 4vw;
}

#landingCards {
    padding: 2rem 6rem 8rem 6rem;
}

#classesLandPage {
    margin: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

#classLandPage {
    height: 15rem;
    margin: 2rem 2rem 6rem;
    background-size: cover;
    border-radius: 1em;
}

#classLandPage div {
    height: 100%;
    margin: auto;
    background-color: rgba(2, 2, 2, 0.4);
    color: white;
    border-radius: 1em;
}

#joinLandPage {
    height: 20rem;
    margin: 2rem;
    background-size: cover;
    border-radius: 1em;
    text-align: center;
}

#join {
    font-size: 2rem;
    background-color: rgba(2, 2, 2, 0.4);
    margin: auto;
    height: 100%;
    color: white;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startS {
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3rem;
}

#joinS {
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: var(--activeButton);
    color: white;
    border: 0;
    border-radius: 3rem;
}

#joinS:hover {
    opacity: 0.9;
}

#startS:hover {
    background-color: rgba(2, 2, 2, 0.4);
}

nav {
    margin: auto;
    background-color: var(--mainColor);
    height: 5rem;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 28%);
}

.navbar-toggler {
    margin-right: 10px;
}

img {
    padding: 0.5rem 1rem;
    height: 6rem;
}

.navButton {
    margin: auto 1rem;
    color: var(--secondryColor);
    text-decoration: none;
}

#signup {
    color: white;
    background-color: #4E6E7D;
    border-radius: 3rem;
    border: 0;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem 1rem;
}

#login {
    color: white;
    background-color: var(--secondryColor);
    border-radius: 3rem;
    border: 0;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem 0 1rem 1rem;
}

#login:hover {
    opacity: 0.8;
}

#signup:hover {
    opacity: 0.8;
}

#navProfilePic {
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

#profileSignedIn {
    display: flex;
    margin: auto 1rem auto 0;
}

#navProfileName {
    position: relative;
    margin: auto 0 auto -1rem;
    color: var(--secondryColor);
}

.paymenyButtons {
    border: 1px solid #d0cfcf;
    margin: auto 2rem 1rem;
    height: 3rem;
    border-radius: 0.5rem;
}

#f {
    flex-wrap: nowrap;
}

.Labels {
    margin: 8px;
}

button.paymenyButtons {
    margin-top: 1rem;
    background-color: #F48C06;
    border: none;
}

button.paymenyButtons:hover {
    margin-top: 1rem;
    background-color: #c27106;
    border: none;
}

#cancelPayment {
    border: 2px solid #F48C06;
    color: #F48C06;
    background-color: white;
    margin-bottom: 3rem;
}

#cancelPayment:hover {
    color: white;
    background-color: #F48C06;
}

.paymenyMethod {
    margin: 2rem 0;
}

.cardBody {
    margin: 3rem;
}

.paymentCard {
    max-width: 80vw;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: -1px 2px 30px 2px #e0e0e0;
}

.editHeader {
    color: white;
    background-color: #023047;
    padding: 60px;
}

#details {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#editPic {
    margin: 1rem auto;
    object-fit: cover;
    height: 20rem;
    max-width: 20rem;
    border-radius: 2rem;
}

button.profileButton {
    margin: 1rem auto 0 auto;
    color: white;
    background-color: #F48C06;
    border: none;
    height: 3rem;
    width: 25rem;
}

button.profileButton:hover {
    margin: 1rem auto 0 auto;
    background-color: #c27106;
    border: none;
    height: 3rem;
    width: 25rem;
}

.profileScndClmn {
    margin-left: 5rem;
}

.editProfile {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* ----------- Mubarak ----------------------- */

/* #login-main {
    font-family: 'Poppins';
} */

.login-register-slider {
    border-radius: 30px;
    background-color: #666666;
    height: 3em;
    width: 250px;
    text-align: center;
}

.login-sides {
    width: 100%;
    height: 50em;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-main-phrase {
    /* margin: 2em; */
    width: 100%;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}


.login-intro {
    /* margin: 2em; */
    width: 75%;
    color: white;
    font-size: 1.5em;
}

.login-form-box {
    width: 450px;
    height: 700px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
}

.login-button-box {
    width: 220px;
    margin: 30px auto 50px auto;
    position: relative;
    box-shadow: 0 0 0px 10px #568ca6;
    background-color: #568ca6;
    border-radius: 30px;
}

.login-toggle-btn {
    padding: 5px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
}

#login-btn-highlight {
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #219ebc;
    border-radius: 30px;
    transition: .5s;
}

#register-btn-highlight {
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #219ebc;
    border-radius: 30px;
    transition: .5s;
    left: 100px;
}

.login-form-prompt {
    margin: 30px auto;
    text-align: left;
}

.login-form-prompt p {
    padding: 0;
    margin: 0 12px;
    color: #c9d3d8;
}

.login-input-group {
    top: 180px;
    position: absolute;
    width: 94%;
    transition: .5s;
}

.login-form-label {
    color: #fff;
    padding-left: 15px;
}

.login-input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 30px 0;
    border: 1px solid #219EBC;
    border-radius: 40px;
    padding-left: 30px;
    background: #fff;
}

.login-submit-btn {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #219ebc;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;

}

.login-submit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.login-check-box {
    margin: 10px 5px 30px 0;
    color: #fff;
}

#login-chk-span {
    color: #fff;
    font-size: 12px;
    margin-top: 7px;
    position: absolute;
}


#login-form {
    left: 12px;
}

/* 
#register-form {
    left: 450px;
} */





/* ----------- Mubarak ----------------------- */
#footer-common {
    display: grid;
    width: 100%;
    background-color: #023047;
    color: #B2B3CF;
    padding-top: 30px;
}

#footer-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    margin-left: 2rem;
    width: 10rem;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

#footer-img {
    line-height: 3rem;
}

.footer-left-border {
    border-left: 1px solid #626381;
    max-height: fit-content;
}

.footer-right-border {
    border-right: 1px solid #626381;
    max-height: fit-content;
}

.footer-padding {
    padding: 0 7px;
}

.footer-links {
    text-decoration: none;
    color: #B2B3CF;
}


.footer-links:hover {
    color: #F48C06;
}

.sessionBackGrnd {
    background-image: url("/sessionBackGrnd.jpg");
    height: 40vh;
    width: auto;
    background-size: cover;
}

button.optionSessionPage {
    display: block;
    background-color: #808080;
    border: none;
    width: 10rem;
    margin: 2rem auto;
    padding: 10px 0;
}

button.optionSessionPage:hover {
    background-color: #808080;
    opacity: 0.9;
}

button.activeButtonDS {
    display: block;
    background-color: #F48C06;
    border: none;
    width: 10rem;
    margin: 2rem auto;
    padding: 10px 0;
}

button.activeButtonDS:hover {
    background-color: #F48C06;
    opacity: 0.9;
}

.datailsSession {
    display: flex;
    justify-content: space-between;
    margin: auto 1px 1rem;
}

.BsGrid {
    margin: 4px;
}

p>.BsGrid {
    margin: 2px 1rem 0 0;
    color: #F48C06;
}

#sessionDescription {
    background-color: #E2F0FF;
    color: #696984;
    border-radius: 1rem;
    padding: 4rem 2rem 1rem;
}

.sessionOverview {
    display: none;
}

.ratingBox {
    justify-content: space-between;
    height: 12rem;
    width: 14rem;
    background-color: #FFFFFF;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

.ratingBox>p {
    display: block;
    margin-top: 4rem;
}

.ratingBar {

    max-height: 5px;
    accent-color: #c27106;
}

.ratingBars {
    margin: 2rem;
}

#sessionPics {
    border-radius: 50%;
}

#nameSessionDet {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bold;
}

.buttonSession {
    display: flex;
    justify-content: space-between;
}

#floatingCard {
    position: relative;
    bottom: 250px;
    width: 20rem;
    margin-left: 5rem;
    border: none;
}

#tutorPicSD {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.cardHeader h2 {
    margin-top: 15px;
}

.cardHeader p {
    margin-top: 2rem;
    text-align: center;
    color: #F48C06;
}

#registerSessionBTN {
    display: block;
    background-color: #F48C06;
    color: white;
    width: 80%;
    padding: 12px;
    border: none;
    margin: auto;
}

#registerSessionBTN:hover {
    opacity: 0.9;
}

#titleSesDet {
    margin-bottom: 3rem;
}

#greyGuarnt {
    color: #808080;
}



#sessionDescription {
    background-color: #E2F0FF;
    color: #696984;
    border-radius: 1rem;
    padding: 4rem 2rem 1rem;
}

#sessionDetailsPage {
    margin-top: 4rem;
    margin-bottom: 6rem;
    min-height: 35rem;
}

#sessionPics {
    border-radius: 50%;
}

#nameSessionDet {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bold;
}

.buttonSession {
    display: flex;
    justify-content: space-between;
}

#floatingCard {
    position: absolute;
    top: 300px;
    width: 20rem;
    margin-left: 5rem;
    border: none;
}

#tutorPicSD {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.cardHeader h2 {
    margin-top: 15px;
}

.cardHeader p {
    margin-top: 2rem;
    text-align: center;
    color: #F48C06;
}

#registerSessionBTN {
    display: block;
    background-color: #F48C06;
    color: white;
    width: 80%;
    padding: 12px;
    border: none;
    margin: auto;
}

#registerSessionBTN:hover {
    opacity: 0.9;
}

#titleSesDet {
    margin-bottom: 3rem;
}

#greyGuarnt {
    color: #808080;
}



/*Tutor Details*/
#overviewTutor p {
    color: #808080;
}

#moreSessions {
    background-color: #023047;
    border: 0;
    color: white;
    width: 10rem;
    height: 3rem;
    margin: 2rem auto;
}

#moreSessions:hover {
    opacity: 0.9;
}

.cardsArea {
    padding: 2rem;
}

.cardMargin {
    padding: 2rem;
}

#floatingCard .ratingBox {
    box-shadow: -1px 2px 30px 2px #e0e0e0;
    margin: 4rem auto;
}


/*Dashboard Page*/
#dashboardPage,
h4 {
    margin: 2rem 1rem;
}

#dashPic {
    margin: auto;
    margin-top: 4rem;
    height: 250px;
    width: 250px;
}

#dashboardPage h5 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

#dashButton {
    display: block;
    background-color: #F48C06;
    color: white;
    width: 60%;
    padding: 12px;
    border: none;
    margin: auto;
}

#dashButton:hover {
    opacity: 0.9;
}

#tutorsArea {
    margin-top: 4rem;
}

#dashboardPage .ratingBox {
    box-shadow: -1px 2px 30px 2px #e0e0e0;
    margin: 4rem auto;
    width: 60%;
}

#dashboardPage p {
    display: block;
    color: #808080;
}

.pageHeaderBar {
    color: white;
    background-color: #023047;
    padding: 60px;
}

.pageContent {
    margin: 4.5rem auto;
    padding: 0 5rem;
    align-items: center;
}

.form-post {
    margin: 4rem auto;
}

.form-post label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.form-post option {
    color: black;
}

.form-post .full-width {
    display: block;
    width: 100%;
    padding: 0.85rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;
    color: #9D9B9B;
}

.form-post .half-width {
    display: block;
    width: 100%;
    max-width: 49vw;
    padding: 0.85rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;
    color: #9D9B9B;
}

.form-post .quarter-width {
    display: block;
    width: 25%;
    max-width: 49vw;
    padding: 0.85rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;
    color: #9D9B9B;
}


.form-post input::placeholder {
    color: #9D9B9B;
}

.form-post textarea::placeholder {
    color: #9D9B9B;
}

#postButton {
    display: block;
    width: 30vw;
    margin: 3.5rem .5rem;
    height: 3.5rem;
    float: right;
    border-radius: 10px;
}

#requestButton {
    display: block;
    width: 30vw;
    margin: 3.5rem .5rem;
    height: 3.5rem;
    float: right;
    border-radius: 10px;
}