:root {
    --mainColor: white;
    --secondryColor: #023047;
}

.App{
    display: block;
    width: 100%;
    text-align: center;
    margin: 5rem auto;
}

nav {
    margin: auto;
    background-color:  var(--mainColor);
    height: 5rem;
}

img {
    padding: 0.5rem 1rem;
    height: 6rem;
}

.navButton {
    margin: auto 1rem;
    color: var(--secondryColor);
    text-decoration: none;
}

#signup {
    color: white;
    background-color: #4E6E7D;
    border-radius: 3rem;
    border: 0;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem 1rem;    
}

#login {
    color: white;
    background-color: var(--secondryColor);;
    border-radius: 3rem;
    border: 0;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem 0 1rem 1rem;
}

#login:hover{
    opacity: 0.8;
}

#signup:hover{
    opacity: 0.8;
}

#navProfilePic {
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

#profileSignedIn{
    display: flex;
    margin: auto 1rem auto 0;
}

#navProfileName {
    position: relative;
    margin: auto 0 auto -1rem;
    color: var(--secondryColor);
}

.paymenyButtons {
    border: 1px solid #d0cfcf;
    margin: auto 2rem 1rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.Labels {
    margin: 8px;
}

button.paymenyButtons {
    margin-top: 1rem;
    background-color: #F48C06;
    border: none;
}
button.paymenyButtons:hover {
    margin-top: 1rem;
    background-color: #c27106;
    border: none;
}

#cancelPayment {
    border: 2px solid #F48C06;
    color: #F48C06;
    background-color: white;
    margin-bottom: 3rem;
}

#cancelPayment:hover {
    color: white;
    background-color: #F48C06;
}

.paymenyMethod{
    margin: 2rem 0;
}
.cardBody{
    margin: 3rem;
}
.paymentCard{
    max-width: 80vw;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: -1px 2px 30px 2px #e0e0e0;
}
.editHeader{
    color: white;
    background-color: #023047;
    padding: 60px;
}

#details{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#editPic{
    margin: 1rem auto;
    object-fit: cover;
    height: 20rem;
    max-width: 20rem;
    border-radius: 2rem;
}

button.profileButton {
    margin: 1rem auto 0 auto;
    color: white;
    background-color: #F48C06;
    border: none;
    height: 3rem;
    width: 25rem;
}
button.profileButton:hover {
    margin: 1rem auto 0 auto;
    background-color: #c27106;
    border: none;
    height: 3rem;
    width: 25rem;
}

.profileScndClmn{
    margin-left: 5rem;
}

.editProfile{
    margin-top: 2rem;
}

p{
    font-size: 1rem;
}

#footer-common {
    display: grid;
    width: 100%;
    background-color: #023047;
    color: #B2B3CF;
}

#footer-text {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}