.session-card {
  text-align: center;
  margin: 1rem auto;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px #cfcfcf;
  border: 0;
}

.session-card .indicator {
  position: absolute;
  padding: 5px 10px;
  width: fit-content;
  top: 6px;
  left: 6px;
  color: white;
  opacity: 0.7;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.session-card-posted .indicator {
  background-color: #198754;
  
}

.session-card-requested .indicator {
  background-color: rgb(244, 82, 82);
}

.session-card .indicator.session-type {
  top: 44px;
  background-color: var(--secondryColor);
}



.session-card .session-card-img {
  border-radius: 2rem;
  height: 304px;
  width: 100%;
  object-fit: fill;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.session-card .card-text {
  min-height: 100px;
}

.session-card .session-info {
  margin: 10px;
}

.session-card .user-info {
  color: var(--secondryColor);
}

.session-card .user-pic {
  height: 64px;
  width: 80px;
  object-fit: fill;
  /* width: ; */
}

.session-bid button {
  color: #FFF;
  background-color: var(--orangeColor);
  border: none;
  width: 80%;
  font-size: 1.1rem;
}

.session-bid span {
  display: block;
  color: #bbb;
  font-size: 0.8rem;
}